<?xml version="1.0" encoding="utf-8"?>
<!-- Rendered by tools/atlas-android.ts: the package, the version and whether
     the build is a development one. A NativeActivity with no Java: the app is
     android/src, PocketJS's guest runtime and the packs. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="@PACKAGE@"
    android:versionCode="@VERSION_CODE@"
    android:versionName="@VERSION_NAME@">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true" />
    <application
        android:allowBackup="false"
        android:debuggable="@DEBUGGABLE@"
        android:hasCode="false"
        android:icon="@drawable/icon"
        android:label="@LABEL@">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|navigation"
            android:label="@LABEL@"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <meta-data android:name="android.app.lib_name" android:value="main" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
